/* * {
    border: 1px solid red;
} */

#image-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    min-height: 90vh;
    margin: auto;
    margin-top: 2em;
    border-radius: 10px;
    box-shadow: 0 0 30px #057c91;
    overflow: hidden;
}

#image-gallery-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#image-gallery-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
    /* border-bottom: 5px solid #337a86; */
}

#image-gallery-header-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 2rem;
}

#image-gallery-header-camera {
    width: 5em;
    height: 2.5em;
}

#image-gallery-header-search-box {
    display: flex;
    width: 350px;
    flex-direction: row;
    align-items: center;
}

#image-gallery-header-search-box-input {
    width: 100%;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 25px;
    outline: none;
    transition: all 0.30s ease-in-out;
    background-color: #DDDDDD;
    border: 1px solid #757575;
    cursor: text;
}

#image-gallery-header-search-box-lens {
    margin-left: -3.3em;
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
    transition: .3s all linear;
}

#image-gallery-header-search-box-lens:hover {
    transform: rotate(-35deg);
}

#image-gallery-top-hr {
    width: 100vw;
    min-height: 5px;
    background-color: #014855;
    box-shadow: 0 0 15px #54c4d8;
    display: flex;
    justify-content: center;
    padding: 0 5em;
}

.image-gallery-top-hr-anno {
    width: 100%;
    background-color: #014855;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
}

#image-gallery-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#image-gallery-main-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.image-gallery-main-container-image {
    width: 31%;
    aspect-ratio: 16/9;
    transition: all .3s;
    cursor: pointer;
}

/* .image-gallery-main-container-image img {
    width: 100%;
    height: 100%;
} */

.image-gallery-main-containerIn-image {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 16/9;
    transition: all .3s;
    cursor: pointer;
}

.image-gallery-main-container-image-image {
    width: 100%;
    height: 100%;
}

#body-margin-bottom {
    height: 2em;
    width: 20px;
    /* margin: auto; */
}

@media (max-width: 1024px) {
    .image-gallery-main-container-image {
        width: 48%;
        aspect-ratio: 16/9;
    }
}

@media (max-width: 640px) {
    
    .image-gallery-main-container-image {
        width: 98%;
        aspect-ratio: 16/9;
    }

    h2 {
        font-size: 1.2rem;
    }

    #image-gallery-header-camera {
        width: 3rem;
        height: 2.5rem;
    }

    .image-gallery-top-hr-anno {
        font-size: smaller;
    }
        
}

@media (max-width: 375px) {

    #image-gallery-header-search-box-clear,
    #image-gallery-header-search-box-lens {
        display: none;
    }
    
}

@media (max-width: 300px) {

    #image-gallery-header-search-box-clear,
    #image-gallery-header-search-box-lens,
    #image-gallery-header-title {
        display: none;
    }
    
}

.none {
    display: none;
}

.modal-windows-window-image {
    width: 80%;
    /* aspect-ratio: 16/9; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    background-color: white;
    /* align-items: center; */
    color: #000;
    box-shadow: 0 0 10px #777;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    cursor: pointer;
}

@media (max-width: 640px) {
    
    .modal-windows-window-image {
        width: 100%;
        /* height: 100%; */
        aspect-ratio: 16/9;
        position: inherit;
        transform: inherit;
        transition: all .3s;
        cursor: pointer;
    }
            
}

